@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="footer-nav">
@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <a onclick=getUsers()><i id="fa-home" class="fas fa-home"></i></a>
        <a onclick=getMailbox()>
            <i id="fa-comment" class="fas fa-comment" style="position:relative;">
                <input id="message-count" class="message-count-bubble" style="background-color:#ff0266!important;font-weight:bold;" />
            </i>
        </a>
        <a onclick=getUser()><i id="fa-user" class="fas fa-user-circle"></i></a>
        <a onclick=getFriends()><i id="fa-users" class="fas fa-users"></i></a>
        <a><i id="fa-bar" class="fas fa-bars" style="color:rgba(255,255,255,.5)!important;"></i></a>
    </div>
}
else
{
    <a onclick=getHome()><i id="fa-home" class="fas fa-home"></i></a>
    <a onclick=getInfo()><i id="fa-info" class="fas fa-info-circle"></i></a>
}
</div>