@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http.Extensions
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
} 

<div class="footer-nav">
@if (SignInManager.IsSignedIn(User))
{
    <a asp-controller="Home" asp-action="Index" class="transition"><i class="fas fa-home"></i></a>
    <a asp-controller="Message" asp-action="Index" class="transition">
        <i class="fas fa-envelope" style="position:relative;">
            @if (ViewBag.MessageCount > 0)
            {
                <i class="badge badge-pill badge-primary" style="position:absolute;font-style:normal;font-size:10px;top:-5px;right:-10px;">
                    @ViewBag.MessageCount
                </i>
            }
        </i>
    </a>
    <a asp-controller="Home" asp-action="Friends" class="transition"><i class="fas fa-users"></i></a>
    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="transition"><i class="fas fa-user-circle"></i></a>
    @if (User.IsInRole("Admin"))
    {
    <a asp-controller="Home" asp-action="Admin" class="transition"><i class="fas fa-users-cog"></i></a>
    }
}
else
{
    <a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i></a>
    <a asp-controller="Home" asp-action="About"><i class="fas fa-info-circle"></i></a>
}
</div>