@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="footer-nav">
@if (SignInManager.IsSignedIn(User))
{
    <div id="extra-nav" class="row" style="display:none;padding-bottom:10px;">
        <a class="transition"><i id="fa-cog" class="fas fa-cog" style="color:rgba(255,255,255,.5)!important;"></i></a>
        <a onclick=getUser() class="transition"><i id="fa-user" class="fas fa-user-circle"></i></a>
        @if (User.IsInRole("Admin"))
        {
        <a onclick=getAdmin() class="transition"><i id="fa-users-cog" class="fas fa-users-cog"></i></a>
        }
        <form style="display:inline;" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="btn btn-link"><i class="fas fa-sign-out-alt" style="color:#ffffff;font-size:26px;"></i></button>
        </form>
    </div>
    <div class="row">
        <a onclick=getUsers()><i id="fa-home" class="fas fa-home"></i></a>
        <a onclick=getMailbox() class="transition">
            <i id="fa-comment" class="fas fa-comment" style="position:relative;">
                <input id="message-count" style="font-size:12px!important;text-align:center!important;border:0 solid transparent!important;border-radius:50%!important;width:20px!important;height:20px!important;position:absolute;font-style:normal;font-size:10px;top:-5px;right:-10px;display:none;background-color:#4285F4!important;pointer-events:none!important;" />
            </i>
        </a>
        <a onclick=getFriends() class="transition"><i id="fa-users" class="fas fa-users"></i></a>
        <a id="expand-menu" class="mobile-nav"><i id="fa-bar" class="fas fa-bars"></i></a>
        <a href="~/identity/account/manage" class="transition web-nav"><i id="fa-user" class="fas fa-user-circle"></i></a>
        <a class="transition web-nav"><i id="fa-cog" class="fas fa-cog" style="color:rgba(255,255,255,.5)!important;"></i></a>
        @if (User.IsInRole("Admin"))
        {
        <a onclick=getAdmin() class="transition web-nav"><i id="fa-users-cog" class="fas fa-users-cog"></i></a>
        }
        <form style="display:inline;" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="btn btn-link web-nav"><i class="fas fa-sign-out-alt" style="color:#ffffff;font-size:26px;"></i></button>
        </form>
    </div>
}
else
{
    <a onclick=getHome()><i id="fa-home" class="fas fa-home"></i></a>
    <a onclick=getInfo()><i id="fa-info" class="fas fa-info-circle"></i></a>
}
</div>