<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!-- Start of PWA meta elements -->
    <meta name=”apple-mobile-web-app-capable” content=”yes”>
    <meta name=”mobile-web-app-capable” content=”yes”>
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">    
    <meta name="apple-mobile-web-app-title" content="ffriendster">
    <meta name="apple-mobile-web-app-orientations" content="portrait">
    <!-- End of PWA meta elements -->
    <title>ffriendster</title>
    <!-- Start of PWA icons -->
    <!-- Home screen icon -->
    <link rel="apple-touch-icon" href="~/icons/ffapp/apple-touch-icon-square.png">
    <!-- <link href="~/icons/ffapp/splashscreens/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="~/icons/ffapp/splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="~/icons/ffapp/splashscreens/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="~/icons/ffapp/splashscreens/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="~/icons/ffapp/splashscreens/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="~/icons/ffapp/splashscreens/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="~/icons/ffapp/splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="~/icons/ffapp/splashscreens/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="~/icons/ffapp/splashscreens/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="~/icons/ffapp/splashscreens/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" /> -->
    <!-- End of PWA icons -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2f51bb661c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
    <header>
        <nav class="navbar-fixed">
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <div class="container layout-container">
        <main id="main" role="main">
            @RenderBody()
        </main>
    </div>
    <div id="overlay" style="display:none;background-color:#000!important;z-index:2000!important;text-align:center;">
        <i class="fas fa-spinner fa-pulse" style="font-size: 56px;background: -webkit-linear-gradient(#fff,#0d47a1,#9933CC);-webkit-background-clip: text;-webkit-text-fill-color: transparent;margin-top:50%;"></i>
    </div>
    <footer>
        <partial name="_FooterMenuPartial" />
    </footer>
    <script src="~/js/site.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
