<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!-- Start of PWA meta elements -->
    <meta name=”apple-mobile-web-app-capable” content=”yes”>
    <meta name=”mobile-web-app-capable” content=”yes”>
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">    
    <meta name="apple-mobile-web-app-title" content="ffriendster">
    <meta name="apple-mobile-web-app-orientations" content="portrait">
    <!-- End of PWA meta elements -->
    <title>ffriendster</title>
    <!-- Start of PWA icons -->
    <!-- Home screen icon -->
    <link rel="apple-touch-icon" href="~/icons/ffapp/apple-touch-icon-square.png">
    <!-- Pinned Tab  -->
    <link href="favicon.ico" rel="mask-icon" size="any">
    <!-- Android  -->
    <link href="~/icons/ffapp/apple-touch-icon-circle.png" rel="icon" sizes="192x192">
    <!-- Others -->
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- UC Browser  -->
    <link href="~/icons/ffapp/apple-touch-icon-circle.png" rel="apple-touch-icon-precomposed" sizes="57x57">
    <link href="~/icons/ffapp/apple-touch-icon-circle.png" rel="apple-touch-icon" sizes="72x72">
    <!-- iPhone Xs Max (1242px x 2688px) --> 
   <!-- <link href="~/icons/ffapp/splashscreens/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
   <link href="~/icons/ffapp/splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
   <link href="~/icons/ffapp/splashscreens/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
   <link href="~/icons/ffapp/splashscreens/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
   <link href="~/icons/ffapp/splashscreens/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
   <link href="~/icons/ffapp/splashscreens/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
   <link href="~/icons/ffapp/splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
   <link href="~/icons/ffapp/splashscreens/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
   <link href="~/icons/ffapp/splashscreens/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
   <link href="~/icons/ffapp/splashscreens/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" /> -->
    <!-- End of PWA icons -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script src="https://kit.fontawesome.com/451c0be92c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
    <header>
        <nav class="navbar-fixed">
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <div class="container layout-container">
        <main id="main" role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <partial name="_FooterMenuPartial" />
    </footer>
    <script src="~/js/site.min.js"></script>
    <script async src="https://cdn.jsdelivr.net/npm/pwacompat@2.0.9/pwacompat.min.js"
    integrity="sha384-VcI6S+HIsE80FVM1jgbd6WDFhzKYA0PecD/LcIyMQpT4fMJdijBh0I7Iblaacawc"
    crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
