@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
@if (SignInManager.IsSignedIn(User))
{
    <a id="nav-back-btn" style="padding-left:10px;color:#000000;"><i class="fas fa-chevron-left"></i></a>
    <h2 class="ffapp">ffriendster</h2>
    <a onclick=getUser() title="Manage"><img class="user-img-sm" src=@user.Picture></a>
}
else
{
    <a id="nav-back-btn" style="padding-left:10px;color:#000000;"><i class="fas fa-chevron-left"></i></a>
    <h2 class="ffapp">ffriendster</h2>
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i></a>
}
