@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
@if (SignInManager.IsSignedIn(User))
{
    <a id="nav-back-btn" style="padding-left:10px;color:#000000;" onclick="window.history.go(-1); return false;"><i class="fas fa-chevron-left"></i></a>
    <h2 class="ffapp">ffriendster</h2>
    <!-- <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="float-right btn btn-link"><i class="fas fa-sign-out-alt" style="color:#ffffff;font-size:24px;"></i></button>
    </form> -->
    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><img class="user-img-sm" src=@user.Picture></a>
}
else
{
    <a id="nav-back-btn" style="padding-left:10px;color:#000000;" onclick="window.history.go(-1); return false;"><i class="fas fa-chevron-left"></i></a>
    <h2 class="ffapp">ffriendster</h2>
    <!-- <a class="nav-link float-right" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-book-reader"></i></a> -->
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i></a>
}
