@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
@if (SignInManager.IsSignedIn(User))
{
    <h2 class="float-left ffapp">ffapp</h2>
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="float-right btn btn-link"><i class="fas fa-sign-out-alt" style="color:#0277bd;font-size:24px;"></i></button>
    </form>
    <a class="float-right" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><img class="user-img-sm" src=@user.Picture></a>
}
else
{
    <h2 class="float-left ffapp">ffapp</h2>
    <a class="nav-link text-dark float-right" asp-area="Identity" asp-page="/Account/Register"><i class="text-primary fas fa-book-reader"></i></a>
    <a class="nav-link text-dark float-right" asp-area="Identity" asp-page="/Account/Login"><i class="text-primary fas fa-sign-in-alt"></i></a>
}
