@model IEnumerable<Rikku.Models.ApplicationUserViewModel>
@using Rikku.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<h3 class="ffapp" style="position:fixed;left:0;background-color:#000000;padding:0 0 5px 40%;width:100vw;background-color: rgba(0,0,0,.9);">messages</h3>
<div class="container" style="padding-top:30px;">
    <div class="container"> 
    @foreach (var users in Model) 
    {
        @if(users.Email != user.Email)
            {
                <a asp-action="Chat" asp-route-id="@users.Id">
                    <div class="row" style="padding-left:15px;margin-bottom:10px;">
                        <div class="col-xs-2">
                        @if(users.MessageReadFlg == 0)
                        {
                            <i class="fas fa-circle text-warning"></i>
                        }
                        else 
                        {
                            <i class="far fa-circle text-warning"></i>
                        }
                        </div>
                        <div class="col-xs-5">
                            <img class="user-img-md" src="@users.Picture" style="border-radius:50%;margin-right: 10px;width:70px;height70px;">
                        </div>
                        <div class="col-xs-5">
                            <span style="font-size: 18px;">@users.UserName</span> <br/>
                            <span style="font-size: 16px;">@users.CreateDate.ToShortDateString()</span>
                        </div>
                    </div>
                </a>
            }
    }
    </div>
</div>