@model IEnumerable<Rikku.Models.ApplicationUserMessageViewModel>
@using Rikku.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<h4>Messages</h4>
<div class="container margin-auto">
    <div class="panel-body">
        <form method="post" enctype="multipart/form-data">
        <ul id="contacts" class="list-group message-container">                        
            @foreach (var users in Model) 
            {
                @if(users.Email != user.Email)
                {
                    <a asp-action="Chat" asp-route-id="@users.Id">
                        <li>
                            <img class="user-img-md" src="@users.Picture">
                            <span>@users.UserName - @users.CreateDate.ToShortDateString()</span>
                        </li>
                    </a>
                }
            }
        </ul>
        </form>
    </div>
</div>