@model IEnumerable<Rikku.Models.ApplicationUserMessageViewModel>
@using Rikku.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<div class="container margin-auto">
    <div class="panel-body">
        <form method="post" enctype="multipart/form-data">
        <ul id="contacts" class="list-group message-container" style="top:0;left:0;">                        
            @foreach (var users in Model) 
            {
                @if(users.Email != user.Email)
                {
                    <a asp-action="Chat" asp-route-id="@users.Id">
                        <li>
                            <img class="user-img-md" src="@users.Picture">
                            <span style="font-size:18px;margin-left:10px;">@users.UserName</span>
                            <span style="float:right;margin-top:30px;margin-right:10px;">@users.CreateDate.ToShortDateString()</span>
                        </li>
                    </a>
                }
            }
        </ul>
        </form>
    </div>
</div>