@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" style="background-color:#d4edda!important;" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" style="background:transparent!important;color:#000!important;">&times;</span></button>
        @Model
    </div>
}