@page
@model DownloadPersonalDataModel
@{
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="top-margin"></h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}