@using Rikku.Data
@using Rikku.Models
@{
    var me = "e7f72e6a-5c23-4dcd-81e6-327c64177b95";
}

<div class="text-center top-margin">
    <img src="~/icons/chocobo/chocobo-moogle.png" />
    <h3>About</h3>
    <div style="width:300px;height:auto;margin:0 auto;">
        <p>This is a fun little app I've put together to chat with your favorite Final Fantasy characters! Or chat with each other about your favorite Final Fantasy characters!</p>
        <p>The photos for the characters are of real people cosplaying as those characters. If you find yourself pictured as a character I didn't mean any disrespect; the exact opposite, in fact. I found you to be the most realistic depiction of the character. However, if you'd like for your photo to be removed please <a asp-action="Profile" asp-route-id="@me">message</a> me to do so! I'll remove it as soon as I can!</p>
    </div>
</div>