<h3 class="ffapp title-bg-shroud">admin</h3>
<div class="container" style="padding-top:30px;">
<!-- <form asp-controller="Home" asp-action="Admin" method="get">
    <div class="row" style="position: fixed; top: 70px;width: 330px;">
        <div class="input-group">
            <input class="form-control" id="search" type="text" name="SearchString" placeholder='Search...' />
        </div>
    </div>
</form> -->
<div id="admin-container" class="container">
</div>
</div>
