@model IEnumerable<Rikku.Models.ApplicationUserViewModel>
@using Rikku.Data
@using Rikku.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<h3 class="ffapp" style="position:fixed;left:0;background-color:#000000;padding:0 0 5px 40%;width:100vw;background-color: rgba(0,0,0,.9);">friends</h3>
<div class="container" style="padding-top:40px;">
    <div id="friend-container" class="container"> 
    </div>
</div>
