/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#main {
  display: none;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles */
html {
  font-size: 14px;
}
/* Dark Mode overrides */
body,
span,
a,
a:active,
a:hover,
a:visited,
.navbar-fixed,
.footer-nav,
.modal-header,
.modal-body,
.close {
  background-color:#263238!important;
  color:#ffffff!important;
}
.text-primary {
  color:#ffffff!important;
}
.btn-danger {
  border-color:#b71c1c!important;
  background-color:#b71c1c!important;
}
.btn-primary {
  border-color:#0d47a1!important;
  background-color:#0d47a1!important;
}
.btn-warning {
  border-color:#FF8800!important;
  background-color:#FF8800!important;
}
input {
  border: #263238!important;
  border-top: none!important;
  border-right: none!important;
  border-bottom: 1px solid #455a64!important;
  border-left: none!important;
  outline: none!important;
  border-radius: 0;
  background-color:#263238!important;
  color:#90a4ae!important;
  transition: all .1s ease-in-out;
}
input:focus {
  outline:none!important;
  border-bottom: 3px solid #90a4ae!important;
  border-radius: 5px;
  transition: all .1s ease-in-out;
}
textarea {
  border: 1px solid #455a64!important;
  outline: none!important;
  border-radius: 4px;
  background-color:#263238!important;
  color:#90a4ae!important;
  transition: all .1s ease-in-out;
}
textarea:focus {
  outline:none!important;
  border: 3px solid #90a4ae!important;
  transition: all .1s ease-in-out;
}
/* End of Dark Mode overrides */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Toggle switch */
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #37474F;
}

input:focus + .slider {
  box-shadow: 0 0 1px #37474F;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* end of toggle switch */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #455a64;
}
.border-bottom {
  border-bottom: 1px solid #455a64;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.img-user {
  margin:23px auto;
  width:200px;
  height:200px;
  border-radius:50%;
  object-fit: fill;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
}
.img-user-navbar {
  border-radius:50%;
  height:30px;
  width:30px;
}
.img-user-overlay {
  margin: 32px auto;
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 200px;
  transition: .1s ease;
}
.fa-camera {
  color: rgba(255,255,255,.7);
  font-size: 25px;
  position: absolute;
  bottom: 0;
  right: 0;
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  text-align: center;
}
.margin-auto {
  margin: 0 auto;
}
.top-margin {
  margin-top: 60px;
}
.bottom-margin {
  margin-top: 20px;
}
.message-input {
  min-height: 30px;
  height: 33.5px;
  border-radius: 5px;
  border: 1px solid #455a64;
  padding: 0 5px 0 5px;
}
.message-container {
  min-height: 450px; 
  max-height: 450px; 
  overflow-y: scroll; 
  list-style-type: none;
  border-radius: 5px; 
  padding: 5px 0;
}
.user-container {
  min-height: 450px; 
  max-height: 600px; 
  width: 80%;
  overflow-y: scroll; 
  list-style-type: none;
  border-radius: 5px; 
  padding: 5px 0;
}
::placeholder {
  color: #9e9e9e;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.message-compose,
.message-compose:focus,
.message-compose:visited,
.message-compose:active,
.message-compose:hover {
  background-color: #007bff!important;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 2px 4px #455a64;
  font-size:28px;
  position:fixed; 
  bottom: 15%;
  right: 5%;
  z-index: 2000;
}
.footer-nav {
  width: 100%;
  background-color: #ffffff;
  color:#263238;
  position: fixed;
  bottom: 0;
  font-size: 26px;
  text-align: center;
  border-top: 1px solid #455a64;
  padding: 10px 0 30px 0;
}
.footer-nav a {
  padding: 0 5%;
}
.navbar-fixed {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  color: #263238;
  position: fixed;
  top: 0;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #455a64;
  padding: 10px 5px 30px 5px;
  z-index: 2000;
}
.btn-logout {
  height: 30px;
  width: 30px;
  background-color: #ff4444;
  margin-top: 2px;
  margin-left: 7px;
  border-radius: 50%;
  border: none;
  float: right;
}
.search {
  padding: 5px;
  width: 100%;
  background-color:#eceff1;
  border:1px solid transparent;
}

@-webkit-keyframes spinning /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinning {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spinning {
  -webkit-animation: spinning 2.25s linear infinite;
  -moz-animation: spinning 2.25s linear infinite;
  -ms-animation: spinning 2.25s linear infinite;
  -o-animation: spinning 2.25s linear infinite;
  animation: spinning 2.25s linear infinite;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}