ï»¿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#main {
  display: none;
}
.hide-page {
    left: -100%;
}
.show-page {
    left: 0%;
}
.message-reaction-container {
  display:none;
  min-width:190px;
  min-height:36px;
  border-radius:25px;
  position:absolute;
  top:-85%;
  background-color:rgba(128,128,128,.7);
  padding:5px;
  z-index: 2000;
}
.message-reaction-like,
.message-reaction-dislike {
  z-index:1000;
  padding-top:6.5px;
  margin:0 5px;
  text-align:center!important;
  border:0 solid transparent!important;
  border-radius:50%!important;
  width:25px!important;
  height:25px!important;
  font-style:normal;
  font-size:12px;
  background-color:#00b0ff!important;
}
.message-reaction-love {
  z-index:1000;
  padding-top:6.5px;
  margin:0 5px;
  text-align:center!important;
  border:0 solid transparent!important;
  border-radius:50%!important;
  width:25px!important;
  height:25px!important;
  font-style:normal;
  font-size:14px;
  background-color:#cc0000!important;
}
.message-reaction-laugh,
.message-reaction-sad {
  z-index:1000;
  padding-top:6.5px;
  margin:0 5px;
  text-align:center!important;
  border:0 solid transparent!important;
  border-radius:50%!important;
  width:25px!important;
  height:25px!important;
  font-style:normal;
  font-size:13px;
  background-color:#8e24aa!important;
}
.message-reaction-liked-right,
.message-reaction-disliked-right {
  padding-top:6.5px;
  margin:0;
  text-align:center!important;
  border:0 solid transparent!important;
  border-radius:50%!important;
  width:25px!important;
  height:25px!important;
  position:absolute;
  font-style:normal;
  font-size:12px;
  top:-35%;
  right:0;
  background-color:#00b0ff!important;
  pointer-events:none!important;
}
.message-reaction-laughed-right,
.message-reaction-saddened-right {
  padding-top:6.5px;
  margin:0;
  text-align:center!important;
  border:0 solid transparent!important;
  border-radius:50%!important;
  width:25px!important;
  height:25px!important;
  position:absolute;
  font-style:normal;
  font-size:13px;
  top:-35%;
  right:0;
  background-color:#8e24aa!important;
  pointer-events:none!important;
}
.message-reaction-laughed-left,
.message-reaction-saddened-left {
  padding-top:6.5px;
  margin:0;
  text-align:center!important;
  border:0 solid transparent!important;
  border-radius:50%!important;
  width:25px!important;
  height:25px!important;
  position:absolute;
  font-style:normal;
  font-size:13px;
  top:-35%;
  left:0;
  background-color:#8e24aa!important;
  pointer-events:none!important;
}
.message-reaction-liked-left,
.message-reaction-disliked-left {
  padding-top:6.5px;
  margin:0;
  text-align:center!important;
  border:0 solid transparent!important;
  border-radius:50%!important;
  width:25px!important;
  height:25px!important;
  position:absolute;
  font-style:normal;
  font-size:12px;
  top:-35%;
  left:0;
  background-color:#00b0ff!important;
  pointer-events:none!important;
}
.message-reaction-loved-right {
  padding-top:6.5px;
  margin:0;
  text-align:center!important;
  border:0 solid transparent!important;
  border-radius:50%!important;
  width:25px!important;
  height:25px!important;
  position:absolute;
  font-style:normal;
  font-size:13px;
  top:-35%;
  right:0;
  background-color:#cc0000!important;
  pointer-events:none!important;
}
.message-reaction-loved-left {
  padding-top:6.5px;
  margin:0;
  text-align:center!important;
  border:0 solid transparent!important;
  border-radius:50%!important;
  width:25px!important;
  height:25px!important;
  position:absolute;
  font-style:normal;
  font-size:13px;
  top:-35%;
  left:0;
  background-color:#cc0000!important;
  pointer-events:none!important;
}
.message-count-bubble {
  font-size:12px!important;
  text-align:center!important;
  border:1.5px solid #121212!important;
  border-radius:50%!important;
  width:23px!important;
  height:23px!important;
  position:absolute;
  font-style:normal;
  font-size:10px;
  top:-5px;
  right:-10px;
  display:none;
  background-color:#8e24aa!important;
  pointer-events:none!important;
}

.ffapp {
  font-family:'Pacifico';
  color:#00b0ff!important;
}
.ffapp-container {
  width:300px;
  height:auto;
  margin:0 auto;
}
.title-bg-shroud {
  position:fixed;
  left:0;
  background-color:#121212;
  padding:0 0 5px 40%;
  width:100vw;
}
.modal-title-border-override {
  border:none!important;
  border-top-right-radius:0!important;
  border-top-left-radius:0!important;
}
#admin-container {
  height:100%; 
  overflow-y: scroll;
}
.about-container {
  width:300px;
  height:auto;
  margin:0 auto;
}
.layout-container {
  min-width:350px;
  max-width:700px;
  margin-top:45px;
  margin-bottom:80px;
  overflow-y:scroll;
  padding: 0;
}
/* #home-page,
#mail-page,
#chat-page,
#admin-page,
#friend-page
#profile-page {
  position: absolute;
  top:100%;
  left:100%;
  transition: left .5s ease-out;
  -webkit-transition: left .5s ease-out;
} */
.home-index-container {
  background-color:#121212!important;
  min-width:350px;
  max-width:500px;
  margin:0 auto;
  padding:0;
}
.user-snippet-container {
  margin-bottom:30px;
  background-color:#121212;
  padding:20px 0;
}
.user-snippet-row-main {
  padding-left:5px;
  margin:0 0 10px 0;
}
.user-snippet-row-secondary {
  margin:0 auto;
  padding:0 10px;
}
.user-snippet-container span,
.user-snippet-row-main span,
.user-snippet-row-secondary span {
  background-color:#121212!important;
}
.user-img-md {
  height:70px;
  width:70px;
  border-radius:50%;
  margin:7px;
}
::-webkit-scrollbar { 
  display: none; 
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.status-message {
  color:#ffffff!important;
  font-size:20px;
  padding: 15px;
  background: rgba(223,240,216, 0.7);
  border-radius:25px;
  height: 60px;
  width: auto;
  position:fixed;
  top: 40%;
  left:10%;
  right:10%;
  z-index: 2500;
}

.status-message > span {
  color:#ffffff!important;
  background: rgba(223,240,216, 0)!important;
  font-size:24px;
  float:right;
  padding-right:7px;
  margin-top:-10px;
}

/* Sticky footer styles */
html {
  font-size: 14px;
}
.active {
  color:#00b0ff!important;
  transition: all .1s ease-in-out;
  /* font-size:34px; */
}
.profile-input {
  margin:0;
}
/* Dark Mode overrides */
body,
span,
a,
a:active,
a:hover,
a:visited,
.navbar-fixed {
  background-color:#121212;
  color:#ffffff;
}
a,
a:active,
a:hover,
a:visited,
a:focus {
  text-decoration:none!important;
}
.modal-header,
.modal-body {
  background-color:#171f24!important;
}
.close {
  background-color:#212121!important;
  color:#ffffff!important;
}
.footer-nav * {
  background-color:#171f24!important;
  margin:0 auto;
}
.footer-nav,
.footer-nav > a,
.footer-nav > a:active,
.footer-nav > a:hover,
.footer-nav > a:visited {
    background-color:#171f24!important;
    color:#ffffff!important;
    transition: all .1s ease-in-out;
}
#extra-nav {
  display:flex;
}
.btn-danger,
.btn-danger:hover,
.btn-danger:visited,
.btn-danger:focus,
.btn-danger:active {
  border-color:#b71c1c!important;
  background-color:#b71c1c!important;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:active {
  border-color:#00b0ff!important;
  background-color:#00b0ff!important;
}
.btn-warning,
.btn-warning:hover,
.btn-warning:visited,
.btn-warning:focus,
.btn-warning:active {
  border-color:#FF8800!important;
  background-color:#FF8800!important;
}
input,
select {
  border: 1px solid #455a64!important;
  outline: none!important;
  border-radius: 5px;
  /* background-color:#263238!important; */
  background-color:#121212!important;
  color:#ffffff!important;
  transition: all .1s ease-in-out;
}
input:focus,
select:focus {
  outline:none!important;
  border-radius: 5px;
  transition: all .1s ease-in-out;
}
textarea {
  border: 1px solid #455a64!important;
  outline: none!important;
  border-radius: 4px;
  /* background-color:#263238!important; */
  background-color:#121212!important;
  color:#ffffff!important;
  transition: all .1s ease-in-out;
}
textarea:focus {
  outline:none!important;
  transition: all .1s ease-in-out;
}
textarea:focus::placeholder{
  color:transparent!important;
}
/* End of Dark Mode overrides */
.search-wd {
  position:fixed;
  top:60px;
  left:0;
  width:100vw;
  margin:0;
  padding:0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Toggle switch */
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #37474F;
}

input:focus + .slider {
  box-shadow: 0 0 1px #37474F;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* end of toggle switch */


.border-top {
  border-top: 1px solid #455a64;
}
.border-bottom {
  border-bottom: 1px solid #455a64;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.user-img-lg {
  margin:23px auto;
  width:200px;
  height:200px;
  border-radius:50%;
  object-fit: fill;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
}
.user-img-sm {
  border-radius:50%;
  height:30px;
  width:30px;
}
.user-img-overlay {
  margin: 32px auto;
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 200px;
  transition: .1s ease;
}
.fa-camera {
  /* color: rgba(255,255,255,.7); */
  color:rgba(0,176,255,.7);
  font-size: 25px;
  position: absolute;
  bottom: 0;
  right: 0;
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  text-align: center;
}
.margin-auto {
  margin: 0 auto;
}
.top-margin {
  margin-top: 60px;
}
.bottom-margin {
  margin-top: 20px;
}
#send-button {
  position:fixed;
  right:10px;
  bottom:82px;
  font-size:20px;
  color:#00b0ff;
  z-index:100;
  font-weight:bolder;
  text-decoration: none!important;
}
.move-bottom {
  bottom: 12px!important;
}
.message-input-chat {
  position:fixed;
  bottom:70px;
  right:0;
  width:85vw;
  font-size:16px;
  min-height: 40px!important;
  height:40px;
  max-height:80px!important;
  border-radius: 25px;
  border: 1px solid #455a64;
  padding: 7px 70px 0 7px;
}
.message-input-chat:focus {
  width:100vw;
  bottom:0;
  border-radius: 25px;
  border: 1px solid #455a64!important;
  min-height:40px!important;
  height:40px;
  max-height:80px!important;
  padding: 5px 70px 0 7px;
}
.message-input-profile {
  position:absolute;
  bottom:30px;
  left:0;
  font-size:16px;
  min-height: 30px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid #455a64;
  padding: 0 7px 0 7px;
}
.message-input-friend {
  position:fixed;
  bottom:0;
  left:0;
  width:100vw;
  font-size:16px;
  min-height: 30px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid #455a64;
  padding: 0 7px 0 7px;
}
.message-container {
  position: absolute;
  top:150px;
  left:0;
  right:0;
  overflow-y: scroll; 
  list-style-type: none;
  border-radius: 5px; 
  padding: 5px 0;
  height:65vh;
}
.message-container-row {
  margin:0;
}
.user-container {
  min-height: 450px; 
  max-height: 600px; 
  width: 80%;
  overflow-y: scroll; 
  list-style-type: none;
  border-radius: 5px; 
  padding: 5px 0;
}
::placeholder {
  color: #9e9e9e;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.message-compose,
.message-compose:focus,
.message-compose:visited,
.message-compose:active,
.message-compose:hover {
  background-color: #007bff!important;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 2px 4px #455a64;
  font-size:28px;
  position:fixed; 
  bottom: 15%;
  right: 5%;
  z-index: 2000;
}
.footer-nav {
  width: 100%;
  background-color: #0d0d0d;
  position: fixed;
  bottom: 0;
  font-size: 26px;
  text-align: center;
  border-top: 1px solid #455a64;
  padding: 10px 0 30px 0;
  z-index: 2000;
}
.footer-nav a {
  padding: 0 5%;
}
.navbar-fixed {
  width: 100%;
  height: 52px;
  background-color: #000000;
  position: fixed;
  top: -5px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #455a64;
  padding: 10px 5px 30px 5px;
  z-index: 2000;
  display:flex;
  justify-content: space-between;
}
.btn-logout {
  height: 30px;
  width: 30px;
  background-color: #ff4444;
  margin-top: 2px;
  margin-left: 7px;
  border-radius: 50%;
  border: none;
  float: right;
}
.search {
  padding: 5px;
  width: 100%;
  border:1px solid transparent;
}

@-webkit-keyframes spinning /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinning {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spinning {
  -webkit-animation: spinning 2.25s linear infinite;
  -moz-animation: spinning 2.25s linear infinite;
  -ms-animation: spinning 2.25s linear infinite;
  -o-animation: spinning 2.25s linear infinite;
  animation: spinning 2.25s linear infinite;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

.web-nav {
  display:none;
}
.mobile-nav {
  display:block;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .profile-input {
    margin:0 15%;
  }
  .message-container {
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    overflow-y: scroll; 
    list-style-type: none;
    padding: 5px 0;
    height:65vh;
    width:620px;
    margin:0 auto;
  }
  .message-container-row {
    width:100%;
  }
  .web-nav {
    display:block;
  }
  .mobile-nav {
    display:none;
  }
}